body{
    background: transparent;
}

h1{ font-size: 45px;
    color: rgb(24, 1, 24);
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 50px;
}
    
p{
    font-size: 30px;
    color: rgb(112, 7, 112);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
}

#div0{
    padding: 0;
    padding-top: 20vh;
    margin: 0;
    height: 100vh;
    }
#div1{
    padding: 0;
    margin: 0;
    background: coral;
    height: 100vh;
}

#div2{ 
    padding: 0;
    margin: 0;
    background:#ff926a;
    height: 100vh;
}

#div3{
    padding: 0;
    margin: 0;
    background: #ffa483;
    height: 100vh;
    
    }

#div4{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.mix-blend-mode{
    background-image: url(./nosAresTur-Opacidade50-jpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   content: center;
}
a {
    text-decoration: none;
}
.multiply{
    mix-blend-mode: multiply;
    background: transparent;
    height: 40vh;
    width: 100vh;
    opacity: 100%;
}
.screen{
    width: 40%;
    background: #f0f8af;
    mix-blend-mode: screen;
    height: 100vh;

}
.hard-ligth{
    width: 40%;
    background: red;
    mix-blend-mode: hard-light;
    height: 100vh;
}

/*Cria um efeito de sombra quando o mouse está emcima do nomes*/
#header .nav-link{
    border-bottom: 4px solid transparent;
}
#header .nav-link:hover{
    border-bottom: 4px solid purple;
}
/*Fim do efeito de sombra*/

/*Quando o mouse estiver emcima do botão*/
.btn:hover{
    background: coral;
    outline: coral;
}
/*Quando o mouse estiver emcima do botão*/



img{
    height: 350px;
    width: 350px;
    border-radius: 20px;
}
.img-redim{
    height: 400px;
    width: 350px;
}
.card{
    border: solid 5px purple;
    position: relative;
    width: 400px;
    height: 480px;
    background: wheat;
    border-radius: 20px;
    align-items: center;
    border-radius: 20px;
}


/*Organizar elementos CARDS */


.flex{
    display: flex;
    
    
}
.item{
    margin: 5px;
   
   
}
.flex-item-1{
    flex: 1;
    
}

.flex-container{
    align-items: center;
    justify-content: center;
    display: flex;
}

.titulo{
    font-size: 1.2em;
    text-align: left;

}

/*DIV MODIFICAÇÕES*/
#div3 h1{
    text-align: left;
    margin: 42px;
    padding-top: 50px;
}
#div3 h2,h4,h5,h6{
    text-align: left;
    margin-left: 42px;
}

#div2 h1{
    text-align: center;
    padding-top: 50px;
}
#div2 h3{
    text-align: justify;
}
/*DIV MODIFICAÇÕES*/


/*CONTAINER MODIFICAÇÕES*/
.container h1{
    text-align: center;
    color: black;
    padding-top: 0,8em;
    }
.container h2{
    text-align: center;
    color: black;
    background: transparent;
    padding: 0,5Rem;
}
.container p{
    text-align: center;
}
/*CONTAINER MODIFICAÇÕES*/

.flex-item {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}
.card h5 h6 {
    margin: 0,1Rem;
    margin-right: 2Rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1,2Rem;
    text-align: center;
    color: ;
}
.card h5{
    padding-top: 1Rem;
    color: black;
}
